                                    Python Master class

In [1]:
n = 1

In [2]:
if n>=5:
    print("If is in if block")
else:
    print("If is not in if block")

If is not in if block

                                    Variables

In [3]:
x=20
print(x)

20

                                    Data types

In [4]:
#integer data type
x=30
y=20
print(x+y,type(x))

50 <class 'int'>

In [5]:
#string data type
x='1'
y='1'
print(x+y,type(x))

11 <class 'str'>

In [6]:
#float data type
x=10.7
y=3.9
print(x+y,type(x))

14.6 <class 'float'>

In [7]:
#None type
a=None
print(a,type(a))

None <class 'NoneType'>

                            Variable scope

In [8]:
#L--> E --> G --> B
def order():
    food="Curd rice"
    print("Your oredr is: ",food)
order()

Your oredr is:  Curd rice

                                    Nested fuction

In [9]:
#Enclosing concept we are accessing the one finction var i another nestes function this is called eclosing
def card():
    diss=10

    def checkout():
        print("Applaying the disscount:", diss)
    checkout()
card()

Applaying the disscount: 10

GLOBAL AND LOCAL VARIABLE

In [10]:
#Global variable
user_id="sanjaya@123"

def homepage():
    print("Welcome to homepage:",user_id)

def profile():
    print("Welcome to your profile page: ",user_id)
homepage()
profile()

Welcome to homepage: sanjaya@123
Welcome to your profile page:  sanjaya@123

LOCAL VARIABLE

In [11]:
#We can't access the variable outside the function
def homepage():
    user_id="sanjaya@12321"
    print("Welcome to homepage:",user_id)
homepage()

Welcome to homepage: sanjaya@12321

TYPE CONVERSION OR TYPE CASTING

In [12]:
a=12 # intger type by default
b='12'# string by default
a=int(a) # type casting
b=int(b) # type casting
print(a+b)

24

OPERATORS AND MODULO AND EXPRESSION

In [13]:
a=10
b=3

print(a+b) # addition
print(a-b) # subtraction
print(a*b) # multiplication
print(a/b) # division
print(a//b) # floor division
print(a**b) # power
print(a%b) # modulo division returns the reminder

13
7
30
3.3333333333333335
3
1000
1

COMPARISON

In [14]:
x = 12
y = 34
print(x == y) # equal to 
print(x != y) # not equal to
print(x > y)  # x is greater than y
print(x < y)  # x is lessor than y

False
True
False
True

LOGICAL

In [15]:
g=True
v=False
print(g and v) # Logical AND
print(g or v) # Logical OR
print(not g) # Logical NOT
print(not v) # Logical NOT

False
True
False
True

In [16]:
#Tax and discount using operators and expressions
amount  = 1200
tax = amount *0.18
total = amount + tax
print("Actual price",total)
if total >= 1000:
    discount = total * 0.10
    total -= discount
print("discount price",total)

Actual price 1416.0
discount price 1274.4

In [17]:
#Discount validation using Logical operators
age=65
student="yes"
if age >= 60 or student=="yes": # Used Logical OR
    print("Yes discount")
else:
    print("No discount")

Yes discount

INPUT IN PYTHON

In [18]:
# The input function by default it take all input as string
a = input("Enter number one")
b = input("Enter number two")
print(a+b) # So here string concatination will done

Enter number one 5
Enter number two 8

58

In [22]:
# The input function by default it take all input as string
# You can covert the type input function like int(input(--your message--))
a = int(input("Enter number one"))
b = int(input("Enter number two"))
print(a+b)

Enter number one 4
Enter number two 5

9

In [19]:
import sys

full_name = sys.argv[1]

# Format the name
email = full_name.lower().replace(" ", ".") + "@company.com"

# output
print("\n--- Your Profile ----")
print("Full Name:", full_name)
print("Generated Email:", email)

--- Your Profile ----
Full Name: -f
Generated Email: -f@company.com

STRING HANDLING OR STRING MANIPULATION

In [20]:
# Uber example
driver_name = "SanJaya"

print(driver_name.lower())
print(driver_name.upper())
print(driver_name.capitalize())
print(driver_name.casefold())

# mobile
mobile = "8088558813"
masked = mobile[:2] # index slicing from first or from left to right
print(masked)
masked = mobile[-2:] #  index slicing from right to left or last to first
print(masked)

sanjaya
SANJAYA
Sanjaya
sanjaya
80
13

In [21]:
# Printing masked mobile number
# mobile
mobile = "8088558813"
masked = mobile[:2] + "******" + mobile[-2:]
print(masked)

80******13

In [22]:
location = "Bengaluru"
fixed_location = location.replace("Bengaluru","Kolar")
print(fixed_location)

message = "your uber booking id is: UB12345.Please keep it safe"
booking_id = message.split(":")[1].split(".")[0].strip() # printing exact UB12345 using split function And using (:) and (.) delimeter
print(booking_id)

Kolar
UB12345

In [23]:
# Extracting coupon in the text
promo_msg = "use zomoto100 to get 100 off on your first order"
extracted = promo_msg.split("to get")[0].split("use")[1]
print(extracted)

 zomoto100

In [24]:
# Extracting coupon in the text by if else statement
promo_msg = "use zomoto100 to get 100 off on your first order"

if "zomoto100" in promo_msg:
    print("Coupon applied")
else:
    print("Coupon not applied")

Coupon applied

In [25]:
# Finding exact position in the string
feedback = " The driver was polite and ride was smooth"
print("The position is:", feedback.find("polite"))

The position is: 16

In [26]:
name = "sanjaya babu"
initials = "".join([word[0].upper() for word in name.split()])
print(initials)

SB

In [27]:
# Removing white spaces
dirty_input = "   sanajay   "
clean = dirty_input.strip()
print(clean)

sanajay

In [28]:
# Printing word count in the string
word = "the trip was amazing and the car was clean"
word_count = len(word.split()) # we are split funtion for removing the white space
print(word_count)

9

CONDITIONAL STATEMENT

In [29]:
# if else statement
age = 3
if age >= 18:
    print("You can vote")
else:
    print("You can't vote")

You can't vote

In [30]:
# Grading by using if else statement

marks = -3

if marks >= 100 or marks <0:
    print("Invalid marks")

elif marks >= 90:
    print("Grade A")
elif marks >=70:
    print("Grade B")
elif marks >= 50:
    print("Grade C")

else:
    print("fail")

Invalid marks

NESTED IF

In [31]:
age = 18
has_licsense ="yes"

if age >= 18:
    if has_licsense == "yes":
         print("You can drive")
    else:
         print("Go and take license")
else:
     print("You are too young to drive")

You can drive

USING AND, OR IN if else statement

In [32]:
# Using OR opertor
mark0 = 20
attendance = 100
if mark >=55 or attendance >=70:
    print("First if's o/p:- Allowed for exam (Using logical OR so in both condition one of condition must be true)")
else:
    print("Not allowed ()")

# Using AND operator
mark1 = 20
attendance = 100
if mark1 >=55 and attendance >=70:
    print("Allowed for exam ")
else:
    print("Second if's o/p:- Not allowed (Using logical and so both condition must be true)")

NameError: name 'mark' is not defined

In [ ]:
# With discount
order_amount = 1000
days = "sat"
membership = "no"

if (order_amount >= 1000 and days in["sat","sun"]) or membership == "gold":
    print("20% discount")
else:
    print("no discount")

In [ ]:
# Without discount, non of the conditions satisfied 
order_amount = 1000
days = "mon"
membership = "no"

if (order_amount >= 1000 and days in["sat","sun"]) or membership == "gold":
    print("20% discount")
else:
    print("no discount")

FOR LOOP

In [33]:
names = ["sarvana","gowtham","nandini","nila","rahul"]

for test in names:
    print(test.upper())

SARVANA
GOWTHAM
NANDINI
NILA
RAHUL

WHILE LOOP

In [34]:
correct_pin = "1234"
entered_pin = ""

while entered_pin != correct_pin:
    entered_pin = input("Enter your correct pin")
print("acess granted")

Enter your correct pin 1234

acess granted

BREAK STATEMENT

In [35]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

CONTINUE STATEMENT

In [36]:
n = [10,-5,7,-9,11]

for num in n:
    if num <0:
        continue
    print(num)

10
7
11

PASS STATEMENT

In [37]:
n = [10,-5,7,-9,11]

for num in n:
    pass # Future logic implementation

In [38]:
# Timer code logic
count = 5 

while count >0:
    print(f"Countdown: {count}")
    count -= 1
print("Time is up!")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Time is up!

In [39]:
items = []

while True:
    item = input("Add item (type 'done' to finish): ")
    if item.lower() == "done":
        break
    items.append(item)
print("Items in cart:", items)

Add item (type 'done' to finish):  done

Items in cart: []

DIFFERENCES BETWEEN        FUNCTIONS    AND     METHOD

In [40]:
# Syntax
def function_name():
    #code logic
    pass

In [41]:
# Defining  a function with name parameter and calling the function

def greet(name):
    print(f"Hello {name}, welcome")

greet("Sanjaya babu")

Hello Sanjaya babu, welcome

# Function with return argument

In [42]:
# Function with return argument

def add(a,b): # ---> Two parameter
    return a+b
result = add(2,6)# ---> Giving two arguments 
print(result)

8

STAR ARGS-----------> *args usage

In [44]:
# *args means accept multiple arguments

def add(*args):
    total = 0 # variable 
    for num in args: # assigns args values to for loop num variable
        total += num # adding each digits
        # 0+= 1
        # 1+= 2
        # 3+= 2
        # 5
    return total # returning the total
    
print(add(1,2,2))

5

 KW ARGS ----------------->  **kwargs

In [45]:
# **kwargs is used to store key value pairs

def create_profile(**kwargs):
    print("User profile")

    for key, value in kwargs.items():
        print(f"{key} :{value}")

create_profile(name="Sanjaya babu",age=33 , job="data scientist") # i/p of key value pairs

User profile
name :Sanjaya babu
age :33
job :data scientist

LISTS IN PYTHON------------> [] -----> square brackets

In [46]:
# list is mutable
# list is index based
# It will accept multiple datatypes
# It maintains order by using index

# Creating lists for apps

playlist = ["Shape orf you", "Naa Ready", "Believer", "Tum Hi Ho"]  # Jio saaven
favorite_food = ["Pizza", "Burger", "Dosa", "Biriyani"] # Zomoto
recent_locations = ["Home", "Airport", "Work", "Mall"] #Uber

#print("Jio saaven:", playlist)
#print("Zomoto Foods:", favorite_food)
#print("Uber Locations:", recent_locations)

# litst methods

playlist.append("oo antava") # append()
print("after append", playlist)

playlist.insert(1,"Jinke marina") # insert() with index value by 1
print("after insert", playlist)

playlist.remove("Naa Ready") # removes specific given value
print("After removing", playlist)

playlist.pop() # removes the last element 
print("After pop", playlist)

playlist.reverse() # revrse the values
print("After reverse", playlist)

print("Count", playlist.count("Believer"))

# List slicing

print("Top 2 songs", playlist[0:2]) # prints 0th and 1st index values

print("last 2 locations",recent_locations[-2:]) #last index slicing

# List iteration

for food in favorite_food:
    print("All food:", food.upper()) # iterating the list with upper()
for song in playlist:
    print(song+ ": Song By Sanjay")

# check if

if "Dosa" in favorite_food:
    print("yes")

# Mixed datatype

mixed =["Sanjay", 23,1.76]

for a in mixed:
    print(a)

# enumerate function 

for i,location in enumerate(recent_locations):
    print(f"location {i}:{location}")

after append ['Shape orf you', 'Naa Ready', 'Believer', 'Tum Hi Ho', 'oo antava']
after insert ['Shape orf you', 'Jinke marina', 'Naa Ready', 'Believer', 'Tum Hi Ho', 'oo antava']
After removing ['Shape orf you', 'Jinke marina', 'Believer', 'Tum Hi Ho', 'oo antava']
After pop ['Shape orf you', 'Jinke marina', 'Believer', 'Tum Hi Ho']
After reverse ['Tum Hi Ho', 'Believer', 'Jinke marina', 'Shape orf you']
Count 1
Top 2 songs ['Tum Hi Ho', 'Believer']
last 2 locations ['Work', 'Mall']
All food: PIZZA
All food: BURGER
All food: DOSA
All food: BIRIYANI
Tum Hi Ho: Song By Sanjay
Believer: Song By Sanjay
Jinke marina: Song By Sanjay
Shape orf you: Song By Sanjay
yes
Sanjay
23
1.76
location 0:Home
location 1:Airport
location 2:Work
location 3:Mall

TUPLES

In [63]:
# Tuples are immutable 
# It can accept multiple datatypes
# Allows duplicate 
# List store elements by position
# It is ordered collections
# Read only

trip_summary = ("ubergo", "Bengaluru", "airport", 450.00, "completed")
print(trip_suumary)

# access by index
print("Access by index:", trip_summary[1])

# for loop

for item in trip_summary:
    print(item)

# length of tuple

print("Length of tuple:", len(trip_summary))

# count ------> means it show how that value occurs in tuple

print(trip_summary.count("completed"))

# index ------> means it will return the position values of item in a tuple

print(trip_summary.index("airport"))

('ubergo', 'Bengaluru', 'airport', 450.0, 'completed')
Access by index: Bengaluru
ubergo
Bengaluru
airport
450.0
completed
Length of tuple: 5
1
2

SETS

In [73]:
#No Duplicates Allowed
#A set automatically removes duplicate elements.
#Unordered Collection
#Supports Mathematical Operations
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)   # Union -> {1, 2, 3, 4, 5}
print(a & b)   # Intersection -> {3}
print(a - b)   # Difference -> {1, 2}


# Removing the duplicate

uber_cites = ["Chennai","Bangalore", "Chennai", "Bangalore"]

unique_cities = set(uber_cites ) # inbuilt funtion that removes duplicate elements

print(unique_cities)

# Union  and Intersection operaton

uber_cities1 = {"chennai","mumbai","banglore"}
uber_cities2 = {"banglore","delhi","Hyderabad"}

print(uber_cities1.union(uber_cities2)) # union adding both sets without duplicate 
print(uber_cities1.intersection(uber_cities2)) # intersection------> common element 
print(uber_cities1.difference(uber_cities2)) # This will print all elements that are in uber_cities1 but not in uber_cities2.

# Add and remove

uber_cities1.add("karur")
print(uber_cities1)

uber_cities1.remove("mumbai")
print(uber_cities1)

# discard funtion

my_set = {1,2,3}
print(my_set)
my_set.discard(8) # safe remove without keyError
print(my_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{'Chennai', 'Bangalore'}
{'chennai', 'mumbai', 'Hyderabad', 'delhi', 'banglore'}
{'banglore'}
{'chennai', 'mumbai'}
{'chennai', 'mumbai', 'karur', 'banglore'}
{'chennai', 'karur', 'banglore'}
{1, 2, 3}
{1, 2, 3}

DICTIONARY

In [91]:
#Key value pairs 
#Stores Data as Keyâ€“Value Pairs
#Keys Must Be Unique and Immutable
#Fast Lookups and Updates
# One key can contain multiple values by using list-----> loc = ["Bengaluru","chennai","mumbai"] 
#Dictionaries are implemented using hash tables, so retrieving, inserting, or updating values using keys is very fast (on average O(1) time)

trip = {
    "trip_id": "UB12345",
    "pickup": "Bengaluru Richmond circle",
    "drop": ["Airport","Kolar","Hosakote"]
    "fare": "1299.00",
    "driver": "Ravi",
    "status": "Completed"
}

# print the value using key

print(trip["pickup"])

# get method

print(trip.get("pickup"))
print(trip.get("Airport")) # accessing key that doesn't exist so it will return None
print(trip.keys()) # returns all keys
print(trip.values()) # returns all values


# Update

trip.update({"car_model":"suzuki"})

# for loop

for key, value in trip.items():
    print(key,":",value)


for location in trip["drop"]:
    print(location)
    # pop funcyion removes the last element

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3373278721.py, line 11)